.eon-timeline {
  height: 25px;
  position: relative;
  overflow: hidden;
  background: #ecf0f1;
}

.eon-timeline-ocurrence {
  height: 15px;
  overflow: hidden;
  background: #3498db;
  margin: 5px 0px;
}
